<h1>Edit Address</h1>
<form [formGroup] = "bookForm"   (ngSubmit)="createPlayers()">
  <table>
    <tr>
      <th>Id:</th>
      <td><input type="text" readonly formControlName="id"  ></td>
    </tr>
    <tr>
      <th>Name:</th>
      <td><input type="text" formControlName="name"  ></td>
    </tr>
    <tr>
      <th>Champ:</th>
      <td><input type="text" formControlName="champ"  ></td>
    </tr>
    <tr>
      <th>Kda:</th>
      <td><input type="text" formControlName="kda" ></td>
    </tr>
    <tr>
      <th>Des:</th>
      <td><input type="text" formControlName="des" ></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Save</button></td>
    </tr>
  </table>
</form>

